<ion-pane>
    <ion-content scroll="true" class="has-header">
        <section class="home-container">
            <div class="col text-center padding-top">
                <h1><font color=#452525>HELP</font></h1>
                <div class="col text-left">
                    <p>Assuming that either the tst or igra tests have been performed, this app allows the clinician to go through a number of questions to arrive at the probabilty that the test has true <b>PPV</b>. It also allows the clinician to examine the NICE guidelines regarding the diagnosis and treament of TB.
                    </p>
                    <h5><b>FIRST SCREEN</b></h5>
                    <p>Using the left hand menu, choose <b>New Patient</b>. Go through the questions in order. And field marking with "<b>*</b>" must be completed. In certain circumstances (such as if the patient is from India), more questions will appear. These are not obligatory fields, but will assisit in producing a more accurate assessment of the tst. If information is inconsistent or missing, and warning message is given.
                    </p>
                    <p>Click the right hand arrow to progress to the next screen</p>
                    <h5><b>SECOND SCREEN</b></h5>
                    <p>The second screen is a list of medical conditions which might have a bearing on the test reading. Select all which apply, or leave blank if none apply.
                    </p>
                    <p>Click the right hand arrow to progress to the next screen, or go back to make any corrections</p>
                    <h5><b>RESULTS</b></h5>
                    <p>This presents the probabilty that the test(s) have a positive Predictive value. Full details of the calculation performed can be found in the "Documentation" section in the left-hand menu. This screen also presents a simple summary of relevant NICE information. More detailed information can be found in the NICE section of the left-hand menu.</p>
                </div>
            </div>
        </section>
    </ion-content>
    <ion-footer-bar align-title="center" class="custom-dark">
    </ion-footer-bar>
    <ion-footer-bar align-title="center" class="custom-dark">
        <button class="button button-clear" ng-click="newPatient()">
            <h3><font color=white>START</font></h3></button>
    </ion-footer-bar>
</ion-pane>
