<ion-pane>
    <ion-content scroll="true" class="has-header" ng-init="loadNiceData()">
        <section class="home-container">
            <div class="col text-center list">
                <button id="rounded" class="button custom-select normal" ng-repeat="item in
                    niceListComplete" ng-model="item.name" ng-click="sendDataToModal(item); modal.show()">{{item.name}}</button>
            </div>
        </section>
    </ion-content>

    <ion-footer-bar align-title="center" class="custom-dark">
        <button class="button button-clear" ng-click="clickLeft()">
            <h2><font color=#524545><i class="custom-icon ion-chevron-left"></i></font></h2>
        </button>
        <h1 class="title"></h1>
        <button class="button button-clear" ng-click="resetPatient()">
            <h3><font color=#524545>New Patient</font></h3>
        </button>
    </ion-footer-bar>
</ion-pane>
