.home-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

.home-container > .row {
    -webkit-flex: 1;
}

.header {
    -webkit-flex: 0.3!important;
    -webkit-align-items: center;
}

.footer {
    -webkit-flex: 0.3 !important;
    -webkit-align-items: center;
    bottom: 50px
}

.custom-dark {
    border-color: #676458 !important;
    background-color: #526ce5 !important;
}

.icon-row {
    -webkit-align-items: center;
}

.custom-title {
    color: #524545
}

ion-scroll[direction=y] {
    height: 100vh
}

.scroll-content {
    background: url("../img/logo.png") no-repeat center;
    background-size: cover;
}

button#rounded {
    border-radius: 30px;
}

/* id */
label#rounded {
    border-radius: 30px;
}

a#rounded {
    border-radius: 30px;
}

p#centered {
    margin-left: 2vw;
    margin-right: 2vw;
}

.custom-select {
    position: relative;
    border-width: 2px;
}

.menu-left {
    background-color: #526ce5!important;
}

.error {
    border-color: red!important;
}

.normal {
    border-color: #524545!important;
    /* dark brown, with a hint of green */
}


/**
 * The following code was taken from
 * https://docs.angularjs.org/api/ng/directive/ngHide and
 * https://docs.angularjs.org/api/ng/directive/ngIf
 * in order to solve a probelm with ng-hide when used 
 * on devices rather than the browser
 */ 

.ng-if {
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.animate-if {
    padding: 10px;
}

.animate-if.ng-enter,
.animate-if.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity: 1;
}
